DEBUG=True
SECRET_KEY=change-me
ALLOWED_HOSTS=127.0.0.1 localhost
# CSRF_TRUSTED_ORIGINS=https://localhost
DOMAIN=http://127.0.0.1:8000

USE_REDIS=False
ENABLE_SCREENER_SYNC=True

EMAIL_BACKEND=django.core.mail.backends.smtp.EmailBackend
EMAIL_HOST=localhost
EMAIL_PORT=1025
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
EMAIL_USE_TLS=False
EMAIL_USE_SSL=False
DEFAULT_FROM_EMAIL=no-reply@local.test
EMAIL_FROM_NAME=NeuroExp Local
SECURE_SSL_REDIRECT=False
