<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
</head>
<body>
    <div id="chat-log" ></div><br>
    <input id="chat-message-input" type="text" size="100"><br>
    <input id="chat-message-submit" type="button" value="Send">
    {{ room_name|json_script:"room-name" }}
    <script>
        const roomName = JSON.parse(document.getElementById('room-name').textContent);

    var ws_protocol = 'ws://'
    if (location.protocol == 'https:'){
        var ws_protocol = 'wss://'
    }

        const chatSocket = new WebSocket(
            ws_protocol
            + window.location.host
            + '/ws/chatfortest/'
            + roomName
            + '/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            // document.querySelector('#chat-log').value += (data.message + '\n');
            $('#chat-log').append('<div style="color:'+data.color+'">'+data.message+'</div>');
            console.log(e)
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.keyCode === 13) {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'stage_name':'s1'
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>